<div class="todos">
  <form (submit)="addTodo()">
    <input
      type="text"
      name="inputTodo"
      placeholder="Enter todo..."
      class="todo-input"
      [(ngModel)]="inputTodo"
    />
    <input type="submit" value="Add Todo" class="todo-submit" />
  </form>

  <div
    *ngFor="let todo of todos; let idx = index"
    class="todo {{ todo.completed ? 'done' : '' }}"
  >
    <div class="id">{{ idx }}</div>
    <div class="content" (click)="toggleDone(idx)">{{ todo.content }}</div>
    <button class="delete" (click)="deleteTodo(idx)">Remove</button>
  </div>
</div>
